
#main {
	background: url('../images/space.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 1200px;
/*	margin-left: 10%;*/
}

#enemy-section, #select-section {
	margin: 0 2.5%;
	background-color: rgba(0,0,0,0.5);
	margin-left: 10%;
}

#battle-section, #combatant-section, #enemy-section, #enemy-direction, #vs, #enemy-sign, #attack-pen, #vanquished {
	display:none;
	z-index: 2;
}

#space-ship {
	position: absolute;
}

#battle-section {
	margin-top: 5%;
}

#enemy-section {
	margin-top: 20%;
}

.player-photo {
	height: 100px;
	max-width: 100px;
}

#selected, .unselected, .enemies, #enemy {
	display: inline-block;
	text-align: center;
	margin: 2%;
	border: 3px solid rgba(0,0,0,0);
}

#selected, #enemy {
	display: block;
	text-align: center;
	margin: 2%;
	z-index: 4;

}

#enemy {
	margin-left: 25%;
}

.unselected:hover {
	border: 4px solid green;
}

.enemies:hover {
	border: 4px solid red;
}

/*#player, #enemy {
	display: block;
}*/

#attack-button {
	height: 60px;
	width: 200px;
	margin: 0px auto;
	display: block;	
	font-size: 25px;
	margin-top: -8%;
}

#game-over {
	position: absolute;
	background-color: black;
	background-size: cover;
	z-index: 20;
	color: white;
	width: 100%;
	height: 120%;
	display: none;
}

#game-over h4 {
	text-align: center;
	margin-top: 25%;
}

#reset-button {
	margin: 0px auto;
	display: block;
}

#attack-pen {
	margin-left: -5%;
}

#vanquished {
	text-align: center;
	font-size: 50px;
}

#vs {
	margin-top: 250%;
}

#gameover-cat {
	max-height: 300px;
	margin: 0px auto;
	display: block;
	margin-top: 5%;
}


