#main {
	background: url('../images/space.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
/*	margin-left: 10%;*/
}

body section {
	margin: 0 2.5%;
	background-color: rgba(0,0,0,0.5);
	margin-left: 10%;
}

#player-section, #combatant-section, #enemy-section, #enemy-direction, #vs, #enemy-sign, #attack-pen {
	display:none;
}

.player-photo {
	height: 100px;
	max-width: 100px;
}

#selected, .unselected, .enemies, #enemy {
/*	padding: 1%;*/
	display: inline-block;
	text-align: center;
	margin: 2%;
}

#selected, #enemy {
/*	padding: 1%;*/
	display: block;
	text-align: center;
	margin: 2%;
}

.unselected:hover {
	border: 4px solid green;
}

.enemies:hover {
	border: 4px solid red;
}

/*#player, #enemy {
	display: block;
}*/

#attack-button {
	height: 60px;
	width: 200px;
	margin: 0px auto;
	display: block;	
	font-size: 25px;
	margin-top: -8%;
}

#game-over {
	position: absolute;
	background-color: black;
	background-size: cover;
	z-index: 20;
	color: white;
	width: 100%;
	height: 120%;
	display: none;
}

#game-over h4 {
	text-align: center;
	margin-top: 25%;
}

#reset-button {
	margin: 0px auto;
	display: block;
}

#attack-pen {
	margin-left: -5%;




